.push-down {
    margin-top: 50px!important;
}

div#shopacado-banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #DDEEEE;
    width: 100%;
    height: 50px;
    z-index:99999;
}

div#shopacado-banner-content {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    text-align: center
}

.adp-vol-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.appikon-cart-item-unit-price .original_price,
.appikon-cart-item-line-price .original_price {
    display: block;
    text-decoration: line-through !important;
}

.appikon-cart-item-price,
.appikon-cart-total,
.appikon-cart-item-line-price .discounted_price,
.appikon-cart-item-unit-price .discounted_price {
    display: block;
    font-weight: bold;
}

.appikon-cart-item-success-notes a,
.appikon-cart-item-upsell-notes a {
    color: #0078bd;
}

.wholesale-cart-total {
    display: block;
    font-weight: bold;
}

.wholesale-original-cart-total {
    display: block;
}

.appikon-messages {
    display: block;
}

.summary-line-note {
    padding-right: 10px;
}

.summary-line-discount {
    color: #0078bd;
}

#appikon-discount-code {
    max-width: 150px;
    display: inline-block;
    height: 40px;
}

#appikon-remove-discount-code {
    margin-right: 5px;
    color: red;
    font-size: 85%;
    border: none;
    background: none;
}

#apply-appikon-discount {
    display: inline-block;
    max-width: 200px;
    vertical-align: top;
    height: 40px;
}

.appikon-discount-code-error {
    color: red;
    white-space: nowrap;
}

table.adp-discount-table tr:first-child td:after {
    border: none;
}

div#appikon-notification-bar span {
    display: block;
}

div#appikon-notification-bar span.money {
    display: inline-block;
}

div#appikon-close-notification {
    float: right;
    font-weight: bold;
    height: 0;
    overflow: visible;
    cursor: pointer;
    margin-right: 2em;
}

.appikon-variants-container select {
    width: 100%;
    margin-bottom: 5px
}

table.adp-discount-table tr th:first-child {
    flex: 1;
}

table.adp-discount-table tr th:nth-child(2) {
    flex: 2;
}

table.adp-discount-table tr td:first-child {
    flex: 1;
}

table.adp-discount-table tr td:nth-child(2) {
    flex: 2;
}

table.adp-discount-table thead {
    display: table-header-group;
    vertical-align: middle;
}

#appikon-discount-item:empty,
#appikon-summary-item:empty {
    display: none;
}
